html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    background-color: #222;
    font-family: Arial, sans-serif;
    padding: 4em 1em;
    text-align: center;
    color: white;
}

#toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 15%;
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    /*padding: 5px;*/
    margin: 0 auto;
}

#pixelSizeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60%;
    width: 10%;
    /*margin-top: 10px;*/
}

#pixelSizeInput {
    margin-top: 10%;
    font-size: 100%;
    width: 50%; /* Adjust this value as needed */
    height: 50%; /* Adjust this value as needed */
}

#toolbar button {
    border:none;
    font-size: 80%;
    border-radius: 15px;
    width: 15%;
    height: 50%;
    margin: 0.1em;
    transition:all 0.3s;
}

#toolbar button:hover:enabled {
    color: #ffffffff;
    border:none;
    background-color: #000000;
    border-radius: 15px;
}

#methodContainer {
    display: flex;
    align-items: center;
}

fieldset {
    border: none;
    margin-left: 10px;
}

#radioGroup {
    display: flex;
    font-size: 80%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    padding-left: 0;
}

.radioOption {
    display: block;
}

#imageContainer {
    width: 100%;
    height: 60vh; /* Adjust this value as needed */
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#uploadedImage {
    display: none;
}

#preview,
#result {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: none; /* Hide the image by default */
}

#output {
    display: none;
}

#loadingOverlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#loadingOverlay p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

